@import 'styles/settings.scss';
@import 'styles/fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  /* -- Background -- */
  .background {
    position: relative;
    width: 100%;
    height: 70vh;
    border-bottom: 5px solid $borderColor;
  }

  .background:before {
    content: "";
    display:block;
    width: 100%;
    height: 100%; 
    background-image :url('../../../../public/assets/accueil.jpeg') ;
    background-size: cover;
    background-position:0;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
  }

  .background:hover:before {
    background-position: -50px;
    opacity: .7;
  }
  
  .background div {
    position: relative;
    z-index:5;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 20%;
    top: 30%;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: roboto, sans-serif;
  }

  //CarChoice
  .carDiv {
    margin-bottom: 10%;

    .carTitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2%;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: roboto, sans-serif;

    }
  
    .CarChoice {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .cars {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 2%;
        width: 30%;
        height: 300px;
        margin-bottom: 5%;
    
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        }

        .category {
          font-size: 1.5rem;
          font-weight: bold;
          text-transform: uppercase;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .busCategory {
          font-size: 1.5rem;
          font-weight: bold;
          text-transform: uppercase;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          margin-bottom: -1%;
        }

        .description {
          font-size: 1rem;  
        }

        .busDescription {
          font-size: 1rem;
          margin-top: -3%;  
        }

      }
    }
  }
  
}

@media screen and (max-width: 767px) {
  .container {
    .background {
      height: 50vh;
    }

    .background:before {
      background-position: 35%; 
    }

    .background div {
      left: 10%;
      font-weight: bold;
      font-size: 1rem;
      text-transform: uppercase;
      font-family: Permanent Marker, cursive;
      position: absolute;
      z-index: 1;
    }

    .carDiv {
      .carTitle {
        font-size: 1rem;
      }

      .CarChoice {
        .cars {
          width: 100%;
          height: 300px;
          margin-bottom: 5%;
        }
      }
    }
 }
}