$navbarHeight: 8vh;
$navbarColor: #0D1F2D;
$fsize: 1.5rem;
$navfont: 'Montserrat', sans-serif;
$navbarItemColor: #fff;
$navbarItemHoverColor: #F2C94C;
$navbarTextSize: 1.2rem;
$fontFamily: 'Montserrat', sans-serif;
