@import 'styles/settings.scss';
@import 'styles/fonts.scss';

.container {
  background: rgb(238,248,250);
  background: linear-gradient(90deg, rgba(238,248,250,1) 0%, rgba(250,250,255,1) 65%, rgba(240,255,255,1) 100%);

  /* -- hero -- */
  .background {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $greyColor;
    

    .right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .imageHead {
            width: 90%;
            height: auto;
            background-size: contain;
            background-position: center;
            border-radius: 25px;
        }  
    }

    .left {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $navFootColor;
        font-size: $fsize;
        font-family: $fontFamily;
        margin-left: 5%;

    }

    .left p {
        font-size: 1.2rem;
        font-family: $font;
        font-weight: normal;
    }

    .buttonDiv {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5%;
        gap: 10px;

        .button {
            width: 170px;
            height: 40px;
            border-radius: 20px;
            background-color: $navFootColor;
            color: $mainColor;
            font-size: $navbarTextSize ;
            font-family: $font;
            font-weight: normal;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            border: none;
            outline: none;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .formDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      background-color: white;
      padding: 30px 10px 30px 10px;
      border-radius: 10px;

      form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      .input {
        width: 300px;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        font-family: $font;
        border: none;
        border: 2px solid $greyColor;
    }

      .button {
          width: 170px;
          height: 40px;
          border-radius: 20px;
          background-color: $navFootColor;
          color: $mainColor;
          font-size: $navbarTextSize ;
          font-family: $font;
          font-weight: normal;
          text-transform: uppercase;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          border: none;
          outline: none;

          &:hover {
              transform: scale(1.05);
          }
      }
  }
  }



  //Car carousel
  .carCarousel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: $fsize;
      font-weight: bold;
      text-transform: uppercase;
      font-family: $fontFamily;
      color: $navFootColor;
    }

    .slider {
        width: 80%;
        margin-bottom: 100px;
        padding-top: 40px;
        border-radius: 10px;

        .carCard {
            height: 430px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .name {
                margin-bottom: 0;
                margin-top: 20px;
                font-family: $fontFamily;
            }

            .link {
                padding: 0 20px 0 20px;
                background-color: $navFootColor;
                color: $navbarItemColor;
                border-radius: 5px;
                margin-top: 20px;
                font-family: $font;
            }

            .imageDiv {
                width: 400px;
                height: auto;
                border-radius: 10px 10px 0 0;
                margin: 0;

                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
  }





  //benefice
  .benefice {
    height: 100%;
    padding-top: 60px;

    .beneficeTitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2%;
      font-size: $fsize;
      font-weight: bold;
      text-transform: uppercase;
      font-family: $fontFamily;
      color: $navFootColor;

        h2 {
          text-align: center;
        }
    }

    .beneficeDiv {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5%;
      padding: 5%;
      padding-bottom: 0;

      .beneficeCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 300px;
        margin-bottom: 5%;
        padding: 10px;
        text-align: center;

        background-color: $blueColor ;
        border-radius: 25px;

        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);

        p {
          font-size: 1rem;
          font-family: $font;
          font-weight: normal;
        }

        h3 {
          font-size: 1.5rem;
          font-family: $font;
          font-weight: bold;
        }
      }
    }
  }




  //CarChoice
  .carDiv {
    margin-top: -4px;
    padding-bottom: 50px;
    background-color: $navFootColor;
    

    .carTitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2%;
      font-size: $fsize;
      font-weight: bold;
      text-transform: uppercase;
      font-family: $fontFamily;
      color: $mainColor;

    }
  
    .CarChoice {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .cars {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 2%;
        width: 30%;
        height: 300px;
        margin-bottom: 5%;

        background-color: $mainColor;
        border-radius: 25px;
    
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
        }

        .category {
          font-size: 1.5rem;
          font-weight: bold;
          text-transform: uppercase;
          font-family: $fontFamily;
        }

        .description {
          font-size: 1.2rem;  
          font-family: $font;
          font-weight: normal; 
        }

        .imageDiv1 {
          background-image: url("../../../../public/assets/cars/berline/c_elysee/c_elysee.png");
          background-size: cover;
          background-position: center;
          width: 340px;
          height: 300px;
        }

        .imageDiv2 {
          background-image: url("../../../../public/assets/cars/SUV/v8.png");
          background-size: cover;
          background-position: center;
          width: 300px;
          height: 300px;
        }

        .imageDiv3 {
          background-image: url("../../../../public/assets/cars/pick-up/sportero/sportero.png");
          background-size: cover;
          background-position: center;
          width: 350px;
          height: 300px;
        }

        .imageDiv4 {
          background-image: url("../../../../public/assets/cars/bus/county.png");
          background-size: cover;
          background-position: center;
          width: 300px;
          height: 300px;
        }
      }
    }
  }
  
}






@media screen and (max-width: 767px) {
  .container {
   
    .background {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-bottom: 40px;
        padding-top: 40px;

        .left {
            margin: 0;

            .imageHead {
                width: 100%;
                height: 150px;
                background-size: contain;
                background-position: center;
                border-radius: 25px;
                padding: 5%;
            }  

            .buttonDiv {
                display: flex;
                flex-direction: column;
            }

            .formDiv {
                
              form {
                flex-direction: column;

                .input {
                  width: 100%;
                }
              }
            }
        }

        .right {
            font-size: 0.8rem;
            line-height: 30px;
    
        }
    
        .right p {
            font-size: 1.2rem;
            font-family: $font;
            font-weight: bold;
        }
    }




    .benefice {
      height: 100%;

      .beneficeTitle {
        h2 {
          text-align: center;
        }
      }

      .beneficeDiv {
        flex-direction: column;

        .beneficeCard {
          width: 100%;
        }
      }

    }






    .carCarousel {
      .slider {
          .carCard {
              height: 100%;

              .imageDiv {
                  width: 90%;
              }
          }
      }
    }






    .carDiv {
      .carTitle {
        text-align: center;
        font-size: 0.8rem;
      }

      .CarChoice {
        padding: 5%;
        
        .cars {
          width: 100%;
          height: 300px;
          margin-bottom: 5%;
        }
      }
    }
    
 }
}