@use '_variables' as *;

.container {
    display: flex;
    position: sticky;
    flex-direction: column;
    z-index: 0;
    user-select: none;

    .footer {
        width: 100%;
        height: 150px;
        background-color: #3d49a0;
    }
}