$navbarHeight: 12vh;
$navFootColor: #0B162C;
$fsize: 1.2rem;
$navbarItemColor: #fff;
$navbarItemHoverColor: #F2C94C;
$navbarTextSize: 0.8rem;
$mainColor: #fff;
$borderColor: #b0e14d;
$blueColor: #3b48a6;
$fontFamily: 'brice-regular', sans-serif;
$navfont: 'Montserrat', sans-serif;
$font: 'Bodoni Moda', serif;