$navbarHeight: 12vh;
$navFootColor: #0B162C;
$fsize: 1.4rem;
$navbarItemColor: #fff;
$navbarItemHoverColor: #F2C94C;
$navbarTextSize: 1rem;
$mainColor: #fff;
$greyColor: rgba(128, 128, 128, 0.4);
$blueColor: #8fb4b0;
$fontFamily: 'noto sans', sans-serif;
$navfont: 'Montserrat', sans-serif;
$font: 'montserrat', sans-serif;