$navbarHeight: 12vh;
$navFootColor: #0B162C;
$fsize: 1.5rem;
$navfont: 'Montserrat', sans-serif;
$navbarItemColor: #fff;
$navbarItemHoverColor: #F2C94C;
$navbarTextSize: 1rem;
$fontFamily: 'Montserrat', sans-serif;
$mainColor: #fff;
$borderColor: #b0e14d;
$blueColor: #3b48a6;